:root{
    --text-primary: #252323;
    --text-secondary: #4B4B4B;
    --divider-primary: #D8D8D8;
    --divider-secondary: #EEF0F2;
    --divider-input: #C0C0C0;
    --element-link:#3366FF;
    --element-linkHover:#2B57D9;
    --background-accent: #F8D57E;
    --default:#FFFFFF;
    --alert:#EA1542;
    --sea:#1D4ED8;
}

section{
    padding: 32px 0;
}

.section{
    background-color: #EEF0F2;
}

.title{
    width: 100%;
    text-align: center;
    color:var(--text-primary);
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.h1{
    margin: 8px 0 24px;
}

.subtitle{
    color:var(--text-secondary);
    text-align: center;
    line-height: 24px;
}

.holder{
    border-radius: 8px;
    margin: 24px 0;
}

figcaption{
    font-size: 14px;
    color:var(--text-secondary);
    text-align: center;
    margin: 0 0 24px;
}

/* FORM */

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 8px;
}

.form-input{
    width: 324px;
    height: 45px;
    padding:0 12px;
    border-radius: 8px;
    border:1px solid var(--divider-input);
}

.form-btn{
    background-color: var(--element-link);
    color:var(--default);
    transition: background-color .3s ease;
    border-radius: 8px;
    padding: 0 24px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 0 8px
}

.form-btn:hover{
    background-color: var(--element-linkHover);
}

.form-btn .arrow {
    margin: 0 0 0 8px;
}


/* PRODUCT */

.title-products{
    margin: 0 0 32px;
}

.product{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 12px;
}

.item {
    width: calc(50% - 6px);
    border-radius: 8px;
    border: 1px solid var(--divider-primary);
    overflow: hidden;
}

.item-picture{
    height: 159px;
}

.sun{
    background-color: var(--background-accent);
}

.sky{
    background-color: var(--element-linkHover);
}

.alert{
    background-color: var(--alert);
}

.sea{
    background-color:var(--sea);
}

.item-info{
    padding:16px 16px 24px;
}

.item-title{
    font-size: 18px;
    font-weight: 600;
    color:var(--text-primary);
}

.item-description{
    font-size: 16px;
    line-height: 24px;
    color:#4B4B4B;
    margin: 8px 0 21px;
    min-height: 72px;
}

.item-more{
    position: relative;
    display: flex;
    font-size: 14px;
    align-items: center;
    color:#3366FF;
    transition: background-color .3s ease;
    cursor: pointer;
}

.item-more:hover{
    color: #2B57D9;
}

.item-more svg{
    width: 14px;
    margin: 0 0 0 8px;
    transition: margin .3s ease;
}

.item-more svg path{
    stroke: #3366FF;
    transition: fill .3s ease;
}

.item-more:hover svg{
    margin: 0 0 0 8px;
}

.item-more:hover svg path {
    stroke: #2B57D9;
}

/* SOCIAL */

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 24px;
}

.social-item{
    display: block;
    width: 24px;
    height:24px;
    margin: 0 30px;
}

.social-item svg path{
    fill: var(--element-link);
    transition: fill .3s ease;
}

.social-item:hover svg path{
    fill: #2B57D9;
}

.social-subtitle{
    font-size: 14px;
    line-height: 21px;
    color:var(--text-secondary);
    text-align: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 32px 0;
}

.list-link{
    color:#3366FF;
    font-size: 13px;
    line-height: 19.5px;
    margin: 0 24px;
    transition: color .3s ease;
}

.list-link:hover{
    color:var(--element-linkHover);
}

@media screen and (max-width: 640px) {
    .item {
        width: 100%;
    }

    .list-link{
        font-size: 11px;
        margin: 0 12px; 
    }

    section{
        padding: 24px 0;
    }

    .h1{
        margin: 0 0 24px;
    }

    .form{
        flex-flow:column;
    }

    .form-btn,
    .form-input{
        width: 100%;
    }

    .form-btn{
        margin: 8px 0 0;
    }

    .title-products{
        margin: 0 0 16px;
    }
}
